/* Resetting default margin and padding */
body, h1, h2 ,p{
    margin: 3px;
    padding: 20px;
    position: relative;
    color: #153d6f ;
    font-size: 25px;
}

/* Global Styles */
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    color: #333; /* Default text color */
    background-color: white;
}

/* Header Styles */
header {
    position: relative;
    height: 300px; /* Adjust height as needed */
    background-image: url('academic-header.jpeg'); 
    filter: blur(1px);
    z-index: 1;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #fff; /* Header text color */
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); /* Text shadow for better visibility */
}

/* Title Style in Header */
header h1 {
    font-size: 3em;
    z-index: 2;
    position: relative;
}

/* Main Content Styles */
.container {
    max-width: 900px;
    margin: 20px auto;
    padding: 0 20px;
}

.undergraduate, .Mphil {
    color: #153d6f ;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
    position: sticky;
  top: 0;
  background-color: white; 
  z-index: 100;

}
.number{
    display: block;
    text-align: center;
    font-weight: bold;
    font-size: 60px;
    margin-top: 30px;
    color:#b5975d
}
.statistics {
    display: block;
    text-align: center;
    font-weight: 50; 
    font-size: larger;
    font-family: 'roboto', sans-serif;
}


.Mphil{
    flex: 0 0 calc(60% - 20px);
    margin-top: 50px;
    margin-left: 50px;
    margin-right: 50px; 
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    min-height: auto;
    flex: 1;grid-template-columns: 50px,50px,50px;
    grid-template-rows: 50px,50px,50px;
    padding: 30px;
    color:  #153d6f ;
    z-index: 2;
    background-color: bisque transparent;
    
}

   .Mphil :hover {
        background-color: #b5975d ; /* Change background color on hover */
        transform: scale(1.05); 
        transition: background-color 0.6s ease, transform 0.3s ease; /* Smooth transition for the effect */

   }

.program :hover {
    background-color: #b5975d ; /* Change background color on hover */
    transform: scale(1.05); 
    transition: background-color 0.6s ease, transform 0.3s ease; /* Smooth transition for the effect */
}


.undergraduate {
    overflow: hidden; 
    margin-bottom: 20px; 
    background-image:('innovation.jpeg' );
}

.undergraduate, .Mphil img {
    float: left;
    margin-right: 20px; /* Add space between image and text */
    border-radius: 5px; /* Rounded corners */
}


img {
    max-width: 100%; 
    height: auto; 
    border-radius: 5px;
}