/* Resetting default styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #f4f4f4;
    margin: 0;
  }
  
  /* Header styl
  }
  
  /* Main content styles */
  .container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .courses {
    display: flex;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
  }
  
  .courses img {
    width: 100%;
    border-radius: 8px 8px 0 0;
  }
  
  .courses h2 {
    font-size: 1.5rem;
    margin-bottom: 10px;
  }
  
  .courses p {
    font-size: 1rem;
    margin-bottom: 15px;
  }
  
  .register-btn {
    display: block;
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #153d6f ;
    color: #fff;
    text-align: center;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .register-btn:hover {
    background-color: #153d6f ;
  }
  
  /* Responsive design */
  @media (min-width: 768px) {
    .container {
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-between;
    }
  
    .courses {
      width: calc(33.333% - 20px);
      margin-bottom: 0;
    }
  }
  